* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2d34;
}

.contenedor_principal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contenedor_principal::before {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
    background-Image: radial-gradient(circle at bottom, #00000093 42%, #2b2a2a 58%, #0505058f 87%);
    filter: blur(10px);
}

nav {
    background-color: #38443f79;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
}

.logo img {
    width: 15%;
    height: 15%;
    margin-left: 20px;
}

.botones {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

li {
    list-style: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;
}

li:hover {
    border-bottom: 4px solid #ffffff;
    border-radius: 4px;

}

#activa {
    border-bottom: 4px solid #ffffff;
    border-radius: 4px;
}

#carrito {
    border: 1px solid white;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 480px;
    gap: 15px;

}

.container {
    width: 45%;
    height: 60%;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 10%;
}

.container h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

.container h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 15px;
    max-width: 85%;
    font: bold;
}

.container button {
    width: 150px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.container button:hover {
    background-color: white;
    color: black;
    border: 1px solid transparent;
}

.container-img {
    width: 45%;
    height: 60%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
