* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #131416;
}

nav {
    background-color: #38443f79;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    position: sticky;
    top: 0;
    transition: 0.7s;
}

.logo img {
    width: 15%;
    height: 15%;
    margin-left: 20px;
}

.botones {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

nav li {
    list-style: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;
}

nav li:hover {
    border-bottom: 4px solid #ffffff;
    border-radius: 4px;
}

nav li a {
    text-decoration: none;
    color: white;
}


#activa {
    border-bottom: 4px solid #ffffff;
    border-radius: 4px;
}
.container-carrito{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carTarje{
    width: 80%;
    height: 150px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.281);
    margin-top: 15px;
}
.carTarje img{
    width: 120px;
    height: 130px;
}
.cantidad-carrito{
    width: 10%;
    height: 25%;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.cantidad-carrito button{
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.delete-item:hover{
    color: rgb(233, 0, 0);
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-finalizar{
    text-decoration: none;
    color: #ffffff;
    margin-top: 2%;
    border: 1px solid white;
    padding: 10px;
    border-radius: 25px;
}

.btn-finalizar:hover{
    background-color: rgb(33, 97, 52);
    color: white;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.precio-final{
    color: #ffffff;
    margin-top: 5%;
}
.mensaje-carrito{
    color: white;
    margin-top: 20%;
}